@page
@model WebApp.Pages.Ticket.IndexModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <title>Active Tickets</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<h1>Active tickets</h1>

<p>
    <a asp-page="Create">Create New Ticket</a> | <a asp-page="FinishedTickets">Finished Tickets</a> 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Created at
            </th>
            
            <th>
                Ticket name
            </th>
            <th>
                Ticket description
            </th>
            <th>
                Finishing time
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ticket) {
    if (!item.IsDone)
    {
        var timeDifference = (item.FinishedBy - DateTime.Now).TotalHours;
        var cssClass = timeDifference < 1 ? "urgent" : "";
        var shortDescription = item.Description.Length > 50 ? item.Description.Substring(0, 50) + "..." : item.Description;
        <tr class="@cssClass">
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAtDt)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @shortDescription
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishedBy)
            </td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                <form method="post" asp-page-handler="MarkAsDone">
                    <input type="hidden" name="id" value="@item.Id" />
                    <button type="submit" class="pretty-button">Mark as Done</button>
                </form>
            </td>
        </tr>
    }
        
}
    </tbody>
</table>
